
@{
    ViewData["Title"] = "List";
}



  
  
    

    <div class="header-container">
        <h2>商品列表</h2>
    </div>

    <div class="container pt-4 px-4">

        <form>
            <div class="containerXX-Large">
                <div class="row">
                    <div class="col-md-3">
                        <label for="category">商品類別：</label>
                        <select name="category" id="category" class="form-control">
                            <option value="">請選擇</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="status">上架狀態：</label>
                        <select name="status" id="status" class="form-control">
                            <option value="">請選擇</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="createdDate">創建日期：</label>
                        <div class="d-flex align-items-center">
                            <input type="date" class="form-control">
                            <span class="mx-2">~</span>
                            <input type="date" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-3">
                        <label for="productName">商品名稱：</label>
                        <input class="form-control" type="text" id="productName">
                    </div>
                    <div class="col-md-9">
                        <label for="priceRange">單價區間：</label>
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <input class="form-control" type="text" id="minPrice">
                            </div>
                            <div class="mx-2">~</div>
                            <div class="flex-grow-1">
                                <input class="form-control" type="text" id="maxPrice">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <input type="submit" value="查詢" class="btn btn-primary">
                        <input type="reset" value="清除" class="btn btn-secondary">
                    </div>
                </div>
                </div>
        </form>
    </div>
    



    <div class="container mt-6">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-end">
            <button class="btn btn-primary" id="trashButton">垃圾桶</button>
                <button type="button" class="btn btn-primary">新增商品</button>
            </div>
        </div>





        <table id="table" class="table table-striped mt-5">
            <thead align="center">
                <tr>
                    <td>商品</td>
                    <td>類別</td>
                    <td>單價</td>
                    <td>狀態</td>
                    <td>庫存</td>
                    <td>編輯</td>
                    <td>刪除</td>
                </tr>
            </thead>
            <tbody align="center">
                <tr>

                    <td>專家置頂1天</td>
                    <td>專家曝光</td>
                    <td>100元</td>
                    <td> <button class="con" style="width:45px; border-radius:3px;">ON</button>
                        <button class="coff active" style="width:45px; border-radius:3px;">OFF</button>
                    </td>
                    <td>500</td>
                    <!-- 修改的跳出視窗BUTTON -->
                    <td><a href="#" type="button" data-bs-toggle="modal" data-bs-target="#EditModal"
                            style="font-size:36px;" class="courseEditBtn bx bxs-edit bx-tada bx-rotate-90"></a></td>
                    <td><i class='bx bx-trash bx-tada' style='color:#ea0b0b ; font-size: 2rem'/></td>
                </tr>
                <tr>
                    <td>任置置頂1天</td>
                    <td>任務曝光</td>
                    <td>100元</td>
                    <td><button class="con" style="width:45px; border-radius:3px;">ON</button>
                        <button class="coff active" style="width:45px; border-radius:3px;">OFF</button>
                    </td>
                    <td>500</td>
                    <td><a style="font-size:36px;" class="courseEditBtn bx bxs-edit bx-tada bx-rotate-90"/></td>
                    <td><i class='bx bx-trash bx-tada' style='color:#ea0b0b ; font-size: 2rem'/></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 跳出視窗內容 -->
    <div class="modal" id="EditModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>修改商品</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="container mt-4 bg-light p-4">
                        <form>
                            <div class="form-group row mb-3">
                                <label for="category" class="col-sm-2 col-form-label">商品類別：</label>
                                <div class="col-sm-4">
                                    <select id="category" class="form-control">
                                        <option value="">請選擇</option>
                                        <!-- 在這裡加入商品類別的選項 -->
                                    </select>
                                </div>
                                <label for="product-name" class="col-sm-2 col-form-label">商品名稱：</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="product-name">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="exposure-channel" class="col-sm-2 col-form-label">曝光管道：</label>
                                <div class="col-sm-4">
                                    <select id="exposure-channel" class="form-control">
                                        <option value="">請選擇</option>
                                        <!-- 在這裡加入曝光管道的選項 -->
                                    </select>
                                </div>
                                <label for="days" class="col-sm-2 col-form-label">天數：</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="days">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="product-description" class="col-sm-2 col-form-label">商品描述：</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="product-description" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="price" class="col-sm-2 col-form-label">商品單價：</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="price">
                                </div>
                            <label for="status" class="col-sm-2 col-form-label">上架狀態：</label>
                            <div class="col-sm-4">
                                <select id="status" class="form-control">
                                    <option value="">請選擇</option>
                                    <option value="1">上架</option>
                                    <option value="0">下架</option>
                                </select>
                            </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="stock" class="col-sm-2 col-form-label">商品庫存：</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="stock">
                                </div>
                              
                            </div>
                            <div class="form-group row mb-3">
                                <label for="cover-image" class="col-sm-2 col-form-label">商品封面：</label>
                                <div class="col-sm-4">
                                    <div class="image-frame-square">
                                        <input type="file" class="form-control-file" id="cover-image" onchange="previewImage(event)">
                                        <img id="image-preview" src="#" alt="商品封面預覽" style="max-width: 100%; max-height: 100%; display: none;">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-primary">更新商品</button>                
                                </div>
                            </div>
                        </form>
                    </div>
                </div>      
            </div>
        </div>
    </div>



@section Styles
{
<style>
    
        /* 將外層容器設置為相對定位 */
        .header-container {
            position: relative;
        }
         /* 調整 Modal 彈出時的寬度 */ 
            .modal-dialog.modal-dialog-end {
                max-width: 30%;           
            
        }
        .modal-dialog {
        max-width: 800px; /* Set your desired width here */
        margin-top: 0px;
    }

        .modal-content {
            height: 90vh;
            /* 調整為你需要的高度，這裡使用 vh 單位表示視窗高度的百分比 */
        }

        .modal img {
            width: 300px;
        }
        .image-frame-square {
            border: 1px solid #ced4da;
            width: 300px;
            height: 300px;
            text-align: center;
            overflow: hidden;
        }

        .image-frame-square img {
            max-width: 100%;
            max-height: 100%;
        }
      
    </style>
    @*box icons*@
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

}

@section Scripts
{
<script>
    
        function previewImage(event) {
            var imagePreview = document.getElementById('image-preview');
            var file = event.target.files[0];
            var reader = new FileReader();
            reader.onload = function() {
                imagePreview.style.display = 'block';
                imagePreview.src = reader.result;
            };
            if (file) {
                reader.readAsDataURL(file);
            }
        }
    
</script>
}

